.section {
  width: 100%;
  margin: auto;

  padding: 70px 0;
  background: black;
}

.article {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: center;
}

.picture {
  width: 100%;
  height: auto;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.containerText {
  min-height: 200px;
}

.title {
  color: #fff;
  font-family: Agrandir;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
  margin: 0;
}

.text {
  color: rgba(255, 255, 255, 0.6);
  font-family: Agrandir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin: 16px 0 32px 0;
}

.button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: none;

  border-radius: 1000px;
  border: 1px solid #ffa800;

  color: #ffa800;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
